.card-group{
	padding: 8em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.caja img{
	width: 100%;
	object-fit: cover;

}

.caja{
		width: 29%;
	height: 70vh;
	margin: 10px;
	overflow: hidden;
  background: #fff;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
}

.caja:hover{
	box-shadow:  0 0 1.5em rgba(0, 0, 0, 0.2);
   transform: translateY(10px);
}

.caja p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.caja a{
	text-align: inherit;
	margin-top: 10px;
	text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #8000ff;
  border: 1px solid #8000ff;
  border-radius: 4px;
  transition: all 400ms ease;

}

.caja a:hover{
	background: #8000ff;
  color: #fff;

}