body {
  background-image: url('fondo_contacto.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333;
}

.boton-regreso {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(246, 129, 50);
  color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

.boton-regreso:hover {
  transform: translateZ(5px);
}
