@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat Alternates', sans-serif;
}


  body{
    background: #fff ;
    width: 100%;
  height: 100vh;
  } 
   .capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;left: 0;
  }
  /*Estilos para el encabezado*/
  .header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
  }
  .container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

.container .btn-menu, .logo{
    float: left;
    line-height:100px;
  }

  .container .btn-menu label{
    color: #1a1a1a;
    font-size: 30px;
    cursor: pointer;
  }
.logo img{
    margin: 23px;
    height: 20%;
    width: 10%;
    
  }

.container .menu{
    float: right;
    line-height: 120px;
  }
  .menu ul{
    list-style: none;
  }
  .menu li{
    position: relative;
    display: inline-block;
  }
  .container .menu > li> a{
    display: block;
    padding: 15px; 
    line-height: normal;
    text-decoration: none;
    color: #1a1a1a;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
  }
.container .menu a:hover{
    border-bottom: 2px solid #afafaf;
    padding-bottom: 5px;
  }
  /*submenu*/

.submenu{
  position: absolute;
  background:  #1c1c1c;
 width: 170%;
 height: 55vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.submenu li a{
  display: block;
  padding: 10px;
  color: #fff;
  font-family: 'Open sans';
  text-decoration: none;
}
.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;

}

  /*Fin de Estilos para el encabezado*/

  /*Menù lateral*/
  #btn-menu{
    display: none;
  }
  
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  #btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
  }

  .cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
  }

  .cont-menu nav{
    transform: translateY(15%);
  }

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  .cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
  }

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  /*Fin de Menù lateral*/

 /* footer  */
 .pie-pagina{
    width: 100%;
    background-color: #EEEEEE;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #1a1a1a;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    font-size: 17px;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.pie-pagina  .box .icono{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  
}
.pie-pagina  .box .icono:hover{
   color: aqua;
}

.pie-pagina .grupo-1 .red-social a img{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    margin-right: 10px;
    background-color: #FFFFFF80;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    cursor: pointer;
    background-color: #c7c7c7;
    padding: 15px 10px;
    text-align: center;
    color: #1a1a1a;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*FIN PIE-PAGINA*/

/*wasp flotante*/

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
    }
}