body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

.caja {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.incaja {
  position: relative;
  margin-bottom: 20px;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

span {
  position: absolute;
  top: 14px;
  left: 10px;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
}

input[type="email"]:focus ~ span,
input[type="text"]:focus ~ span,
input[type="email"]:valid ~ span,
input[type="text"]:valid ~ span {
  top: -10px;
  font-size: 12px;
  color: #999;
}

i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #ccc;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(246, 129, 50);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: rgb(246, 129, 50);
  .boton-regreso {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(246, 129, 50);
  color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}
}

input[type="submit"]:focus {
  outline: none;
}

.boton-regreso {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.boton-regreso a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 4px;
}

.boton-regreso a:hover {
  background-color: #000;
  color: #fff;
}
